<section id="content" class="container">

  <h1>Pending Borrow Requests</h1>
  <div class="products-grid">
    <% if @pending_borrow_requests.present? %>
      <% @pending_borrow_requests.each do |booking| %>
        <div class="product-card">
          <p class="user-email">User: <%= booking.user.first_name %></p>
          <p class="product-info">Product: <%= booking.product.title %></p>
          <!-- Add other relevant information as needed -->
        </div>
      <% end %>
    <% else %>
      <p>No pending borrow requests at the moment.</p>
    <% end %>
  </div>
</section>
