h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


ul.chat-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.chat-card {
  margin: 10px;
  width: calc(100% - 20px); /* Adjust the width as needed */
  border-radius: 8px;
  overflow: hidden;
  height: 115px;
  border: 0.5px solid #01C1AD;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }


  .card-content {
    display: flex;

    .image-container {
      width: 115px; /* Adjust the width of the square container */
      height: 115px; /* Make it a square */
      overflow: hidden;
      border-radius: 8px 0 0 8px; /* Rounded left corners */

      .card-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Preserve aspect ratio without stretching */
      }
    }

    .card-details {
      padding: 18px;
      flex-grow: 1;

      .person-names {
        margin-left: 10px;
        color: rgb(93, 93, 93);
        font-size: 15px;
        font-weight: 200;
      }

      .card-title {
        margin-top: 3px;
        margin-bottom: 10px;
        margin-left: 10px;
        font-size: 16px;
        font-weight: bold;
      }

      .last-message {
        margin-left: 10px;
        color: rgb(93, 93, 93);
        font-size: 16px;
        margin-bottom: 0px;
      }

      .timestamp {
        font-size: small;
        font-weight: lighter;
        margin-left: 5px;
      }
    }
  }
}
