<div class="profile-section">

<% @current_user.received_reviews.each do |review| %>
  <% unless @booking.product.user == current_user %>
    <h3>Reviews1</h3>


    <div class="review">
        <p><strong>Product Rating:</strong> <%= review.product_rating %></p>
        <p><strong>Booking Rating:</strong> <%= review.booking_rating %></p>
        <p><strong>Content:</strong> <%= review.product_content || review.booking_content %></p>
        <p><strong>Reviewed by:</strong> <%= review.user.full_name %></p>
      </div>

  <% end %>
  <% else %>

</div>
