<section id="container">
<div class="info">
      <h1>Your Reviews <% @user.reviews.each do |review| %></h1>
        <div class="review">
          <p><strong>Product Rating:</strong> <%= review.product_rating %></p>
          <p><strong>Booking Rating:</strong> <%= review.booking_rating %></p>
          <p><strong>Content:</strong> <%= review.product_content || review.booking_content %></p>
          <p><strong>Reviewed by:</strong> <%= review.user.full_name %></p>
        </div>
      <% end %>
    </div>

</section>
