<div class="profile-section">

<div class="grey-card">
    <h1 class="product-title">Reviews</h1>
    <h3>Product Reviews</h3>

    <% @product_reviews.each do |review| %>
      <div class="review">
      <p><strong>Reviewer:</strong> <%= "#{review.user.first_name} #{review.user.last_name}" %></p>
        <span class="stars" style="color: #007883;">
          <% filled_stars = (review.product_rating || 0).to_i %>
          <% half_star = (review.product_rating || 0) - filled_stars %>
          <% empty_stars = 5 - filled_stars - (half_star.positive? ? 1 : 0) %>

          <% filled_stars.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>

          <% if half_star.positive? %>
            <i class="fa-solid fa-star-half-stroke"></i>
          <% end %>

          <% empty_stars.times do %>
            <i class="fa-regular fa-star"></i>
          <% end %>
        </span>
                <p><strong>Review:</strong> <%= review.product_content %></p>

      </div>
    <% end %>
  </div>
</div>
