.booking {
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;

  .date-inputs {
    display: flex;
    gap: 10px;
    margin-top: -11.5rem;
    margin-bottom: 1rem;
    margin-left: -3rem;
    margin-right: -3rem;
    justify-content: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  }

  input[type="text"] {
    width: 200px;
    padding: 10px;
    font-size: 16px;
  }

  .btn-rent-now {
    background-color: #01C1AD; // This is a placeholder color, adjust it to match your specific color
    color: #ffffff; // This is a placeholder text color, adjust it to match your specific color
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    object-position: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;


    &:hover {
      background-color: darken($color: #007883, $amount: 10%); // Darken the button on hover
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(93, 219, 149, 0.5); // A light glow effect that matches the button color
    }

    &:active {
      background-color: darken($color: #5cdb95, $amount: 15%); // Even darker when the button is clicked
    }
  }
}

.product-show-container {
  background: #f4f4f4;
  padding: 2rem;
  display: flex;

  .product-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .grey-card {
    background: #f9f9f9; // Grey background color
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 1rem; // Adjust the margin as needed
    width: 467px;
    height: 552px;

    h2 {
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      color: #666;
      line-height: 1.5;
      // Add any additional styling for the text
    }
  }

  .btn-delete {
    margin-left: 20px;
  }

  .product-buttons-container {
    text-align: center;
    height: 100px;
  }

  .btn-edit,
  .btn-delete {
    margin-top: 10px; // Adjust the margin as needed
    display: inline-block;

    a {
      display: inline-block;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      border: 1px solid #01C1AD;
      border-radius: 20px;
      color: #01C1AD;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: #01C1AD;
        color: #ffffff;
      }
    }
  }

  .product-card {
    display: flex;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 1400px;
    max-width: 100%;
    height: 585px;

    .product-image-wrapper {
      max-width: 70%;
      height: 585px;
      width: 850px;
      position: relative;

      .product-image {
        object-fit: cover;
        width: 850px;
        width: 100%;
        height: 100%;
        object-position: center;
      }

      .floating-button {
        position: absolute;
        top: 16px; // Adjust the top position as needed
        left: 16px; // Adjust the right position as needed
        z-index: 1;
      }

      .star{
        text-align: center;
        color: #007883;
        font-size: 20px;
      }

      .btn-floating{
        padding: 6px 12px;
        border: 0.5px solid #01C1AD;
        border-radius: 20px;
        background-color: #f4f4f4;
        text-decoration: none;
        font-size: 20px;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
        object-position: center;
        text-align: center;
      }
    }

    .product-details .input.btn {
      align-items: center;
      display: flex;
    }

    .product-details {
      flex: 4;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: auto;

      .image-address {
        width: 33px;
        height: 33px;
        border-radius: 50%;
      }

      .map-container {
        margin-top: 1rem;
        height: 170px;
        width: 100%;
        display: none;
        z-index: 10;
      }
      .mapboxgl-canvas {
        height: 170px;
        width: 100%;
      }

      .mapboxgl-ctrl {
        display: none;
      }

      .mapboxgl-ctrl {
        z-index: 5;
      }

      input.btn{
        background-color: #01C1AD;
        border: none;
        border-radius: 20px;
        color: white;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-flex;
        align-items: center;

          &:hover {
            background-color: #007883
          }
      }


      .rent-button-wrapper {
        .btn-rent-now {
          background-color: #01C1AD; // This is a placeholder color, adjust it to match your specific color
          color: #ffffff; // This is a placeholder text color, adjust it to match your specific color
          padding: 10px 20px;
          border: none;
          border-radius: 20px;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          cursor: pointer;
          transition: background-color 0.3s ease;
          text-decoration: none;
          object-position: center;

          &:hover {
            background-color: darken($color: #007883, $amount: 10%); // Darken the button on hover
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba(93, 219, 149, 0.5); // A light glow effect that matches the button color
          }

          &:active {
            background-color: darken($color: #5cdb95, $amount: 15%); // Even darker when the button is clicked
          }
        }
      }

      .product-info {
        padding: 2rem;
        border-radius: 0.5rem;
        margin-bottom: -5rem;

        .row-container {
          display: flex;
          height: auto;
          margin-bottom: 30px;
        }

        .product-condition,
        .product-category {
          font-size: 1rem;
          color: #666;
          background: #e9ecef;
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
          display: inline-block;
          margin-right: 0.5rem;
        }

        .image-address {
          margin-left: 0.5rem; // Add margin between category and address
          width: 33px;
          height: 33px;
        }


        .icons-row {
          display: flex;
          justify-content: right;
          gap: 10px;
          align-items: center;

          .product-icon .product-icon-filled{
            margin-right: 10px;
            width: 50px;
            height: 50px;
          }

          .profile-image-product {
            width: 33px;
            height: 33px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .chat-icon {
          width: 28.5px;
          height: 28.5x;
          margin-left: 5px;
        }

        .user-btn {
          padding: 8px 16px;
          border: 0.5px solid #01C1AD;
          border-radius: 20px;
          background-color: #f4f4f4;
          text-decoration: none;
          font-size: 16px;
          color: black;

          &:hover {
            background-color: #e9e9e9;
          }
        }
        .avatar{
          height: 30px;
          width: 30px;
        }

        .avatar-btn {
          // border: 0.5px solid #01C1AD;
          border-radius: 50%;
          background-color: #f4f4f4;
          width: 30px;
          height: 30px;
        }

        .price-and-rating-row {
          display: flex;
          align-items: center;
          margin-top: 10px; // Adjust the margin as needed

          .price-container {
            margin-right: auto; // Adjust the margin between price and stars
          }

          .stars,
          .rating-stars {
            margin-left: 3px;
            color: #007883; // Adjust the margin between stars and rating
          }

          .avatar-btn {
            margin-left: 10px; // Adjust the margin between rating and avatar
          }
        }
        .product-price {
          font-size: 1.5rem;
          color: #3c3c3c;
        }

        .product-title {
          font-size: 2rem;
          color: #333;
          margin-bottom: 30px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }


        .product-condition,
        .product-category {
          font-size: 1rem;
          color: #666;
          background: #e9ecef;
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
          display: inline-block;
          margin-right: 0.5rem;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          // margin-bottom: 20px;
        }

        .product-description {
          font-size: 1rem;
          color: #666;
          line-height: 1.5;
          margin-top: 1rem;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          // margin-bottom: 20px;
        }
      }

    }
  }
}
